{% extends "base.html" %}

{% block title %}charts{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var data1 = {{ worldseatemp_data|tojson }}
        var data2 = {{ yandex_data|tojson }}
        var data3 = {{ sochicamera_data|tojson }}
    </script>
    <script src="{{ url_for('static', filename = 'js/chart.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
