{% extends "base.html" %}

{% block title %}Table{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#ref_id</th>
                        <th>indicator</th>
                        <th>chart_id</th>
                        <th>time</th>
                    <tr>
                </thead>
                <tbody>
                    {% for row in data_rows %}
                    <tr>
                        <td>{{ row.ref_id }}</td>
                        <td>{{ row.indicator }}</td>
                        <td>{{ row.chart_id }}</td>
                        <td>{{ row.time|moscow_tz }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
